@import 'settings/colours';
@import 'settings/font-stacks';

body {
    background-color: $blue;
    color: $red;
    font-family: $body-fonts;
    transition: 3s all;

    h1,h2,h3,h4,h5,h6 {
        font-family: $header-fonts;
    }
}
