// mostly slab serif
// https://www.google.com/fonts/#UsePlace:use/Collection:Unna|IM+Fell+Double+Pica+SC|IM+Fell+French+Canon+SC|IM+Fell+Great+Primer+SC|Antic+Didone|Alike+Angular|Old+Standard+TT:400,700
$fonts__Unna: 'Unna', serif;
$fonts__IMFellDoublePicaSC: 'IM Fell Double Pica SC', serif;
$fonts__IMFellFrenchCanonSC: 'IM Fell French Canon SC', serif;
$fonts__IMFellGreatPrimerSC: 'IM Fell Great Primer SC', serif;
$fonts__AnticDidone: 'Antic Didone', serif;
$fonts__AlikeAngular: 'Alike Angular', serif;
$fonts__OldStandardTT: 'Old Standard TT', serif;
