<!doctype html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="description" content="A 26 year old London bloke with a wife, a kid, and a computer.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Unna|Catamaran:100' rel='stylesheet' type='text/css'>

    {{ if isset .Site.Data.webpack "assets" }}
        <link rel="stylesheet" type="text/css" href="/assets/{{ index .Site.Data.webpack.assets "main.css" }}">
    {{ end }}
</head>
<body>
